<a href="/countries/new">New Countries</a>

<ul>
    <% for (country of countries) { %>
        <li>
            <h2><a href="/countrie/<%= country.id %>"></a><% country.name %> </h2>
            <h4>Population: <%= country.population %></h4>
        </li>
        <% } %>
</ul>