<form action="/countries" method="POST">
  <label for="name-input">Name</label>
  <input id="name-input" type="text" name="name">


<label
 for="name-input">Population</label>
<input id="population-input" type="text" name="population">

<label for="name-input">Name</label>
<input id="name-input" type="text" 
name="name">


</form>