<div>
  <h2><% country.name %></h2>
  <h4>Population: <% country.population %> </h4>
  <h4>Founded: <%= country.founded %> </h4>

  <form method="POST" action="/countries/<%= country.id %>_my_new_method=PUT">
  



  <form method="POST" action="/countries<% country.id %>sd">
</div>